! Font options - ~/.fonts.conf seems to override this
! Resolution for Xft in dots per inch (e.g. 96)
!Xft.dpi:       128
! Type of subpixel antialiasing (none, rgb, bgr, vrgb or vbgr)
Xft.rgba:      rgba
Xft.antialias: 1
Xft.hinting:   1
Xft.autohint:  0
! What degree of hinting to use (hintnone, hintslight, hintmedium, or hintfull)
Xft.hintstyle: hintslight

#define FONTSIZE 12
xterm*faceName: xft:Consolas:size=FONTSIZE:antialias=true:hinting=true:autohint=false:hintstyle=hintnone:dpi=96
URxvt*font:     xft:Consolas:size=FONTSIZE:antialias=true:hinting=true:autohint=false:hintstyle=hintnone:dpi=96
URxvt*boldFont: xft:Consolas:size=FONTSIZE:antialias=true:hinting=true:autohint=false:hintstyle=hintnone:dpi=96


#define WINDOWGEOMETRY 90x20
! xterm
xterm*dynamiccolors:      true
xterm*utf8:               2
xterm*geometry:           WINDOWGEOMETRY
xterm*visualBell:         off
xterm*highlightSelection: true
!xterm*scrollTtyOutput: false
!xterm*scrollKey:       true
!xterm*scrollBar:       true

! URxvt
URxvt.modifier: mod1
URxvt*loginShell: true
URxvt.borderless: false
URxvt*dynamicColors: on
URxvt*letterSpace: -1
URxvt.geometry: WINDOWGEOMETRY
URxvt.imLocale: en_US.UTF-8
URxvt.lineSpace: 0
URxvt.loginShell: true
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt*termName: xterm-256color
URxvt.transparent: false
URxvt.visualBell: false

! URxvt.urgentOnBell: true
! URxvt.urlLauncher: chrome
! URxvt.internalBorder: 3
! URxvt.depth: 24
! URxvt.letterSpace: -1
! URxvt.shading: 100

! URxvt.perl-ext-common:  default,tabbed
! ,clipboard
! URxvt.tabbed.tabbar-fg: 4
! URxvt.tabbed.tabbar-bg: 0
! URxvt.tabbed.tab-fg:    9
! URxvt.tabbed.tab-bg:    0
! URxvt.keysym.M-c:   perl:clipboard:copy
! URxvt.keysym.M-v:   perl:clipboard:paste

! Colors

*.boldMode: true
*.colorBDMode: false
!*.colorBD: cyan

! Base16 Eighties
#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #B9362B
#define base09 #f99157
#define base0A #ffcc66
#define base0B #65B63B
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

! Dark
*.foreground:   base05
*.background:   base00
*.cursorColor:  base05
*.cursorColor2:  base05
*.cursorUnderline: true
*.cursorBlink: true

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

